@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans);
* { font-family: 'Source Sans Pro', sans-serif; }
h1 { text-align: center; font-family: 'Open Sans', sans-serif; }
ul { list-style:none; text-align:center; }
ul li { display:inline; }
ul li:not(:first-child)::before { content: " - "; }
ul li a { text-decoration:none; color: black; }
ul li a:hover { text-decoration:underline; }
